@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
    <div class="grid-container">
        <div>
            @foreach (var prod in Model.GetProducts)
            {
                <p>@prod.id</p>
                <p>@prod.title</p>
                <p>@prod.price</p>
                <p>@prod.category</p>
                <p>@prod.rating</p>
            }
        </div>
    </div>

</body>
</html>

