@page
@model IndexModel
@{   
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="~/css/Stylesheet.css">
  
</head>
<body>
    
    
    <div class="slideshow-container">

        <div class="mySlides">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" style="height: 300px">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides">
            <img src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" style="height: 300px">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides">
            <img src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" style="height: 300px">
            <div class="text">LELEELELELELELELELELELELELELELELELEELELE</div>
        </div>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <!--Slideshow JS-->
    <script src="~/js/site.js"></script>
    <!--Searchbar-->
    <h1>@Model.Search</h1>
    <form method="post">
        <input type="text" id="q" asp-for="@Model.Search" placeholder="Search for products" />
    </form>
    <!--Navbar sidan-->
    <div class="sidenav">
        <h3 style="color:white">Categories</h3>
        <a href="/index">All</a>
        <a href="/Categories/Electronics">Electronics</a>
        <a href="/Categories/Jewelery">Jewelery</a>
        <a href="/Categories/Mens_wear">Men's clothing'</a>
        <a href="/Categories/Womens_wear">Women's clothing'</a>

    </div>

    <!--Product Grid-->
    <div class="grid-container">
        @foreach (var prod in Model.GetProducts)
        {
            <div class="grid-item">
                <a href="/product_page">
                    <img src="@prod.image" height="120">
                </a>
                <p><b>@prod.title</b></p>
                <p>@prod.price kr</p>
                <p style="font-size: 15px">@prod.rating.count Left</p>
                <a asp-route-productId="@prod.id">Add to cart</a>

            </div>
        }
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

